<div class="center">
  <h1>
    Frequently Asked Questions
  </h1>
</div>

<br>

<div class="row">

  <div class="col-md-4">

    <div class="list-group">
      <a href="#" class="list-group-item active">
        What are the selection criteria of the idea (Your ideas worth spreading);
      </a>
      <a href="#" class="list-group-item">Why should i participate</a>
      <a href="#" class="list-group-item">Who it concerns ?</a>
      <a href="#" class="list-group-item">Until when can I participate ?</a>
    </div>

  </div>

  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">What are the selection criteria of the idea (Your ideas worth spreading);</h3>
      </div>
      <div class="panel-body">
        <p>
          We are looking for ideas that will contribute to a creative and enjoyable conference that will inspire and provide a starting point of action for all of us !
          An idea can be very simple or complex.
        </P>
        <p>
          <u>Criteria to implement your idea are the following :</u> <br>
          <b>Feasible</b> - Can your idea be implemented immediately ? <br>
          <b>Impact</b> - What impact will your idea have to the conference and how will it  contribute to the day of the event and why not after it ?
        </p>

        <p>
          <u>Criteria to become the next speaker of <font color="#c0392b">TEDx</font> University of Piraeus are:</u>

          <br>

          <b>Be a student or a recent graduate</b> of the University of Piraeus <br>
          <b>Presence</b> . Can  you contact and broadcast your idea to a large audience ? Can you show as in an interview? <br>
          <b>Authenticity</b> . Is the topic of your speech authentic to you ? Are you really passionate about it? <br>
          <b>Content</b>. The content of the speech must be refer to the idea of the candidate. The commercial use of the concept, ie the product positioning ,personal political or religious beliefs are not accepted as a speech .  <br>
          <b>How does your thought much the concept of <font color="#c0392b">TEDx</font> University of Piraeus:</b> Ideas based on education, entertainment , technology or design. The theme can be of varied intellectual content . The applicant has to present the idea , based on the theme of the conference "Time voyager" and explain the connection.
        </p>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Why should i participate</h3>
      </div>
      <div class="panel-body">
        <p>
          Because:
          <li>You can !</li>
          <li>You believe in ideas worth spreading.</li>
          <li>You are a fan of <font color="#c0392b">TEDx</font> events.</li>
          <li>You want to contribute to a creative and enjoyable conference.</li>
          <li>You have an idea and you think it is worth implementing.</li>
        </p>

        <p>
          And don’t  forget ... Top 5 ideas will not only be implemented but will win free invitations for the <font color="#c0392b">TEDx</font> University of Piraeus and more gifts !
          <br> <br>
          What are you waiting for ?
        </p>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Who it concerns ?</h3>
      </div>
      <div class="panel-body">
        <p>
        <u>"Become a Speaker"</u> is addressed to all students and graduates of the University of Piraeus. <br>
        Students and recent graduates who have an idea worth spreading , a personal experience that will inspire and motivate .
        If you belong to this category and  the theme of this year's <font color="#c0392b">TEDx</font> University of Piraeus suit you, send your participation and you may become the speaker who will spread his personal idea !
        </p>
        <u>"Your ideas worth spreading"</u> is addressed to whom every believes that ideas are worth spreading, is a fan of <font color="#c0392b">TEDx</font> events, wants to contribute to a creative and enjoyable conference and has an idea and he thinks is worth implementing !
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Until when can I participate ?</h3>
      </div>
      <div class="panel-body">
        <p>
        If you want to become a speaker at <font color="#c0392b">TEDx</font> University of Piraeus 2014, then hurry up ! Entry forms close Friday, the <b>31st / 01</b>.
        </p>
        <p>
        If you have an idea worth spreading , you can <%= link_to "submit it", youridea_path %> until Saturday <b>01 / 03</b> and we 'll do everything in our power to carry it out !
        </p>
      </div>
    </div>



  </div>

</div>