<div class="featured-unit center">
  <h1>Welcome to TEDx Unipi</h1>
</div>


<div class="row">

  <div class="col-md-6">
    <p style="text-align: center;" class="tedred"><b>About TED</b></p>
    <p>
      TED is a nonprofit organization devoted to Ideas Worth Spreading.
      Started as a four-day conference in California 26 years ago, TED
      has grown to support those world-changing ideas with multiple initiatives.
      At TED, the world's leading thinkers and doers are asked to give the talk
      of their lives in 18 minutes. Talks are then made available, free, at TED.com.
      TED speakers have included Bill Gates, Jane Goodall, Elizabeth Gilbert,
      Sir Richard Branson, Benoit Mandelbrot, Philippe Starck, Ngozi Okonjo-Iweala,
      Isabel Allende and former UK Prime Minister Gordon Brown.
    </p>
    <p>
      Two major TED events are held each year: The TED Conference takes place
      every spring in Long Beach, California (along with a parallel conference,
      TEDActive, in Palm Springs), and TEDGlobal is held each summer
      in Edinburgh, Scotland.
    </p>
  </div>

  <div class="col-md-6">
    <p style="text-align: center;" class="tedred"><b>About TEDx</b></p>
    <p>
      True to the TED spirit ‘’Ideas worth spreading’’ TEDx was created in 2009.
      This program gives communities, organizations, libraries, universities
      and individuals the opportunity to stimulate dialogue through TED-like
      experiences at the local level.
    </p>
    <p>
      TEDx events are planned and coordinated independently by volunteers. At
      this point there are more than 130 countries with a total of 4.524 events
      globally. In 2009 more than 230 TEDx events where organized with some
      examples of cities they were held in being London, Athens, Tokyo, Madrid
      and Singapore. The very same year more than 80 translations of TED talks
      were made and the phenomenon spread all around the globe. TEDx has brought
      a revolution in universal education giving access to every society to
      hear a different idea.
    </p>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="col-md-12">
    <p>
      TEDx University in our country is a motive to prove that the academic
      society in Greece can accommodate and support ideas and can also give the
      space to anyone who wishes to express his view. TEDxUniversityofPiraeus is
      a local, independently organized event at University of Piraeus that
      strives to re-create the unique experience found at TED, where the world´s
      leaders, thinkers and doers congregate to share what they are most
      passionate about.At its core, the fundamental goal of TED and University
      of Piraeus is to foster and spear great ideas.
    </p>
    </p>
      TEDx University of Piraeus envisions being the trigger for action and
      offering positive thinking in the young community, to establish itself as
      an institution at the university and become known in Greek society for
      its work.
    </p>
    <p>
      Its purpose is to gather humanity idealists, inspired entrepreneurs,
      educators with progressive thinking and institutions of change in society
      who will share ideas and experiences and will stimulate young people to
      develop, share, and turn their ideas into action. Our mission is to show
      the way change is accomplished, "faith-action-change" and urge young
      people to act.
    </p>
  </div>
</div>