<div class="f_home_unit center">
  <h1>Welcome to TEDx Unipi</h1>
  <div class="fb-like" data-href="https://www.facebook.com/TEDxUniversityofPiraeus" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
</div>

<div class="row">

  <div class="col-md-6">
    <h3>Your Ideas worth spreading</h3>
    <p>
      Do you believe your ideas are worth spreading?Are you a fan of TEDx events?
      Do you have an idea for this year’s TEDx University of Piraeus and you believe
      it is worth making it happen? Share it with us and we will do our best so
      you can see it happening.

    </p>
    <%= link_to "Have a good Idea ?", youridea_path, class: "btn btn-primary" %>
  </div>

  <div class="col-md-6" style="text-align: right">
    <h3>Become a <font color="#f40e00">TEDx</font> Speaker</h3>
    <p>
      Are you planning something for the future? Are you wondering for the past?
      Are you inspired by our theme and want to spread your own ideas? Maybe this
      year it is your turn to scene on our TEDx stage and tell us your experience.
      Are you a University of Piraeus student? Then you can apply to become a speaker.
    </p>
    <%= link_to "Become a Speaker", submit_path, class: "btn btn-primary" %>
  </div>


</div>

<br>
<br>
<br>


<div class="row">

  <div class="col-md-4">
    <!-- About TEDx -->
    <div class="column-33">
      <div class="boxed">
        <p class="">
          <img src="https://s3.amazonaws.com/tedxunipi/static/home/what-is-tedx.png" alt="TEDx University of Piraues What is TEDx" style="width:100%; height:auto;">
        </p>
        <h4 style=" text-align: center;">What is TEDx?</h4>
        <p>
          True to the TED spirit ‘’Ideas worth spreading’’ TEDx was created in 2009.
        </p>
        <p>
          This program gives communities, organizations, libraries, universities and
          individuals the opportunity to stimulate dialogue through TED-like experiences
          at the local level.
        </p>
        <br>
        <p>
          <%= link_to "Read more", about_path, class: "btn btn-block btn-primary" %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <!-- Become a Sponsor -->
    <div class="column-33">
      <div class="boxed">
        <p class="">
          <img src="https://s3.amazonaws.com/tedxunipi/static/home/become-sponsor.png" alt="TEDx University of Piraues Become a Sponsor" style="width:100%; height:auto;">
        </p>
        <h4 style=" text-align: center;">Become a sponsor</h4>
        <p>
          You are encouraged to join in a collaborative relationship with TEDx
          if you choose to move forward and support a TEDx event. As a TEDx partner,
          you will have the opportunity to engage in an authentic dialogue with
          an elusive yet valuable audience
        </p>
        <br>
        <br>
        <p>
          <a href="mailto:info@tedxuniversityofpiraeus.com" class="btn btn-block btn-primary">Contact us</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <!-- Buy Tickets -->
    <div class="column-33">
      <div class="boxed">
        <p class="">
          <img src="https://s3.amazonaws.com/tedxunipi/static/home/buy-tickets.png" alt="TEDx University of Piraues Buy Tickets" style="width:100%; height:auto;">
        </p>
        <h4 style=" text-align: center;">Buy Tickets</h4>
        <p>
          Although tickets aren't available right now, you can ensure, by subscribing
          to our Newsletter, to get all updates and notifications about our Openings.
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>
        <%= link_to "Subscribe to our Newsletter", newsletter_path, class: "btn btn-block btn-primary" %>
        </p>
      </div>
    </div>
  </div>

</div><!--Row-->

