<ul class="nav nav-tabs" id="SpeakersTab">
  <li class="active"><a href="#2014" data-toggle="tab">2014</a></li>
  <li><a href="#2013" data-toggle="tab">2013</a></li>

</ul>

<div class="tab-content">
  <div class="tab-pane active" id="2014">a</div>
  <div class="tab-pane" id="2013">

    <!-- Savvas Georgiou -->
    <article class="recipe">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/IMG_0414-2_1.jpeg">
      <footer>
        <div class="title">
          Savvas Georgiou <br>
          <div class="subject">CTO - Daily Secret</div>
        </div>
        <button class="btn btn-primary btn-xs meta" data-toggle="modal" data-target="#SavvasGeorgiou">
          Read more
        </button>
      </footer>
    </article>

    <!-- Yiorgos Arachovitis-->
    <article class="recipe">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/IMG_0414-2_1.jpeg">
      <footer>
        <div class="title">
          Yiorgos Arachovitis <br>
          <div class="subject">Architect</div>
        </div>
        <button class="btn btn-primary btn-xs meta" data-toggle="modal" data-target="#YiorgosArachovitis">
          Read more
        </button>
      </footer>
    </article>

    <!-- Kristina Tremonti -->
    <article class="recipe">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/IMG_0414-2_1.jpeg">
      <footer>
        <div class="title">
          Kristina Tremonti
          <div class="subject">Founder of Edosa Fakelaki</div>
        </div>
        <button class="btn btn-primary btn-xs meta" data-toggle="modal" data-target="#KristinaTremonti">
          Read more
        </button>
      </footer>
    </article>

    <!-- Thomas Douzis -->
    <article class="recipe">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/IMG_0414-2_1.jpeg">
      <footer>
        <div class="title">
          Thomas Douzis
          <div class="subject">Founder & CEO Ergon SA</div>
        </div>
        <button class="btn btn-primary btn-xs meta" data-toggle="modal" data-target="#ThomasDouzis">
          Read more
        </button>
      </footer>
    </article>

    <!-- Amalia Ghiban -->
    <article class="recipe">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/IMG_0414-2_1.jpeg">
      <footer>
        <div class="title">
          Amalia Ghiban
          <div class="subject">Life Coach</div>
        </div>
        <button class="btn btn-primary btn-xs meta" data-toggle="modal" data-target="#AmaliaGhiban">
          Read more
        </button>
      </footer>
    </article>

    <!-- Thomas J. Pagonis -->
    <article class="recipe">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/IMG_0414-2_1.jpeg">
      <footer>
        <div class="title">
          Thomas J. Pagonis
          <div class="subject">Shipbroker</div>
        </div>
        <button class="btn btn-primary btn-xs meta" data-toggle="modal" data-target="#ThomasPagonis">
          Read more
        </button>
      </footer>
    </article>

    <!-- Dimitrios Dalaklis-->
    <article class="recipe">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/IMG_0414-2_1.jpeg">
      <footer>
        <div class="title">
          Dimitrios Dalaklis
          <div class="subject">Commander Hellenic Navy</div>
        </div>
        <button class="btn btn-primary btn-xs meta" data-toggle="modal" data-target="#DimitriosDalaklis">
          Read more
        </button>
      </footer>
    </article>

    <!-- Charis Tsevis -->
    <article class="recipe">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/IMG_0414-2_1.jpeg">
      <footer>
        <div class="title">
          Charis Tsevis
          <div class="subject">Visual Designer</div>
        </div>
        <button class="btn btn-primary btn-xs meta" data-toggle="modal" data-target="#CharisTsevis">
          Read more
        </button>
      </footer>
    </article>

    <!-- Aggelos Mouzakitis -->
    <article class="recipe">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/IMG_0414-2_1.jpeg">
      <footer>
        <div class="title">
          Aggelos Mouzakitis
          <div class="subject">Bus. Administration Student</div>
        </div>
        <button class="btn btn-primary btn-xs meta" data-toggle="modal" data-target="#AggelosMouzakitis">
          Read more
        </button>
      </footer>
    </article>

    <!-- Panayiotis Vlamos -->
    <article class="recipe">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/IMG_0414-2_1.jpeg">
      <footer>
        <div class="title">
          Panayiotis Vlamos
          <div class="subject">As. Prof. Ionian University</div>
        </div>
        <button class="btn btn-primary btn-xs meta" data-toggle="modal" data-target="#PanayiotisVlamos">
          Read more
        </button>
      </footer>
    </article>

    <!-- Silas Seraphim -->
    <article class="recipe">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/IMG_0414-2_1.jpeg">
      <footer>
        <div class="title">
          Silas Seraphim
          <div class="subject">Stand-up Comedian</div>
        </div>
        <button class="btn btn-primary btn-xs meta" data-toggle="modal" data-target="#SilasSeraphim">
          Read more
        </button>
      </footer>
    </article>

    <!-- Nikos Foros-->
    <article class="recipe">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/IMG_0414-2_1.jpeg">
      <footer>
        <div class="title">
          Nikos Foros
          <div class="subject">Our Awesome Host</div>
        </div>
        <button class="btn btn-primary btn-xs meta" data-toggle="modal" data-target="#NikosForos">
          Read more
        </button>
      </footer>
    </article>



    <div class="clearfix"></div>

  </div>

</div>


<!--
//
// Speaker Modals
// --------------------------------------------------
-->

<!-- Savvas Georgiou -->
<div class="modal fade" id="SavvasGeorgiou" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Savvas Georgiou</h4>
      </div>
      <div class="modal-body">

        <div class="speaker-profile-pic">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/MG_0222.jpg" alt="Savvas Georgiou at TEDx University of Piraeus"/>
        </div>

        <br>

        <div class="speaker-profile-bio">
          <p>
            Savvas received his degree in Electrical and Computer Engineering
            from National Technical University of Athens. He has been working
            the technology startup environment since 2009 when his team was
            incubated at Facebook Fund in Palo Alto, CA.  He was part of the
            success story of HealthLeap, a New York startup that was disrupting
            the doctor appointments in United States since 2010.
          </p>
          <p>
            Prior to joining Daily Secret, Savvas was the CTO of Liberis Publications
            (The Conde Nast Publisher for Greece), where he lead the development
            team. Under his leadership the media group revamped it’s digital
            presence and launched new digital properties for it’s magazine titles,
            including the sites of Vogue, Men’s Health and Glamour Magazine.
          </p>
          <p>
            At Daily Secret, he is driven by a sense of purpose: to build the
            first media product of the new world.
          </p>
        </div>

        <br>

        <div class="speaker-profile-social">
          <b>Connect with Savvas</b><br>
          bf
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Yiorgos Arachovitis -->
<div class="modal fade" id="YiorgosArachovitis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Yiorgos Arachovitis</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Kristina Tremonti -->
<div class="modal fade" id="KristinaTremonti" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Kristina Tremonti</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Thomas Douzis -->
<div class="modal fade" id="ThomasDouzis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Thomas Douzis</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Amalia Ghiban -->
<div class="modal fade" id="AmaliaGhiban" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Amalia Ghiban</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Thomas J. Pagonis -->
<div class="modal fade" id="ThomasPagonis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Thomas J. Pagonis</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Dimitrios Dalaklis -->
<div class="modal fade" id="DimitriosDalaklis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Dimitrios Dalaklis</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Charis Tsevis -->
<div class="modal fade" id="CharisTsevis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Charis Tsevis</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Aggelos Mouzakitis -->
<div class="modal fade" id="AggelosMouzakitis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Aggelos Mouzakitis</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Panayiotis Vlamos -->
<div class="modal fade" id="PanayiotisVlamos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Panayiotis Vlamos</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Silas Seraphim -->
<div class="modal fade" id="SilasSeraphim" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Silas Seraphim</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Nikos Foros -->
<div class="modal fade" id="NikosForos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Nikos Foros</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->