<div class="TimelineMarketingPage">
  <div class="pvl video_content">
    <h1 class="mtm mainHeader _3ma _6n _6s _6v">Become a TEDx Speaker</h1>
    <h2 class="mbl subHeader _3m9 _6o _6u _mf">
      We live in a world full of ideas. Ideas worth spreading.
      Is one of them yours?
    </h2>
    <br>
    <span class="videoWrapper">
      <i class="videoShadow img sp_azv72o sx_904d68"></i>
      <span class="pal videoBox">
        <div class="videoBlackout"></div>
        <a class="videoLink" href="#myModal" data-toggle="modal" data-target="#myModal">
          <img class="videoPlaceholder img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v1/yO/r/h7hcUgSpn28.jpg" alt="" width="720" height="405">
          <div class="watchVideoText">Watch the video</div>
          <i class="videoPlayButton img sp_azv72o sx_0455aa"></i>
        </a>
      </span>
    </span>
  </div>
</div>

<div class="speaker_marketing_slogans" style="width: 750px">
  <h2>
    TEDx University of Piraeus this year, with ''Time Voyager'' as its theme,
    comes to bring ideas from the past that made great achievements in the future,
    highlights how our past is outlined in our future and how we can shape our
    present in order to be proud of ourselves tomorrow. Technology, history and
    philosophy combine every day in front of us creating new developments.
  </h2>
</div>

<div class="center">
  <%= link_to new_application_path, class: "btn btn-primary btn-lg" do %>
    Submit your Application <span class="glyphicon glyphicon-map-marker"></span>
  <% end %>
</div>

<br>

<div class="center spreadTheWord">
  <h3 class="pbm _50mo _3ma _6p _6s _6v _6x">Spread it</h3>
  <div class="phl">
    <h6 class="mtm _50t- _50ms inlineBlock _3m9 _6n _6t _59g" id="u_0_f" style="width: 603px;">
      <span>Join the awesomeness and spread the Word. Know an awesome Speaker? Invite him for a Look.</span>
    </h6>
  </div>


  <div style="text-align: center;">
    <input style="margin:0 auto; width:250px;" type="text"  class="form-control" onClick="this.select();" value="<%= request.original_url %>" >
  </div>


  <br>

  <div class="fb-like" data-href="http://www.tedxuniversityofpiraeus.com/submit" width="200px" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>

</div>






<!-- Speakers Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">What makes a great talk, great!</h4>
      </div>
      <div class="modal-body submitVideoiFrame">
        <iframe width="100%" height="auto" src="//www.youtube.com/embed/hhbvUZOLTQY?theme=light" frameborder="0" allowfullscreen></iframe>      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
