<ul class='timeline'>
  <li class="year">Believe</li>
  <li class='event offset-first'>
    <div class="timelineSpeakersImage">
      <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/thomas-pagonis.png" alt=""/>
    </div>
    <div class="timelineSpeakersInfo">
      <h1>Thomas J. Pagonis</h1>
      <h2>My story of success </h2>
      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ThomasPagonis">
        Information
      </button>
    </div>
  </li>
  <li class='event' href="#">
    <div class="timelineSpeakersImageRight">
      <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/amalia-ghiban.png" alt=""/>
    </div>
    <div class="timelineSpeakersInfoRight">
      <h1>Amalia Ghiban</h1>
      <h2>Everything is a state of mind</h2>
      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#AmaliaGhiban">
        Information
      </button>
    </div>
  </li>
  <li class="event">
    <div class="timelineSpeakersImage">
      <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/aggelos-mouzakitis.png" alt=""/>
    </div>
    <div class="timelineSpeakersInfo">
      <h1>Aggelos Mouzakitis</h1>
      <h2>Chasing his acorn &nbsp;</h2>
      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#AggelosMouzakitis">
        Information
      </button>
    </div>
  </li>
  <li class="year">Act</li>

  <li class='event offset-first'>
    <div class="timelineSpeakersImage">
      <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/charis-tsevis.png" alt=""/>
    </div>
    <div class="timelineSpeakersInfo">
      <h1>Charis Tsevis &nbsp; &nbsp;</h1>
      <h2>If the action was art &nbsp; &nbsp;</h2>
      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#CharisTsevis">
        Information
      </button>
    </div>
  </li>
  <li class='event' href="#">
    <div class="timelineSpeakersImageRight">
      <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/yiorgos-arachovitis.png" alt=""/>
    </div>
    <div class="timelineSpeakersInfoRight">
      <h1>Yiorgos Arachovitis</h1>
      <h2>Building the future</h2>
      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#YiorgosArachovitis">
        Information
      </button>
    </div>
  </li>
  <li class="event">
    <div class="timelineSpeakersImage">
      <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/thomas-douzis.png" alt=""/>
    </div>
    <div class="timelineSpeakersInfo">
      <h1>Thomas Douzis</h1>
      <h2>A new game &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h2>
      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ThomasDouzis">
        Information
      </button>
    </div>
  </li>

  <li class="year">Change</li>

  <li class='event offset-first'>
    <div class="timelineSpeakersImage">
      <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/dimitrios-dalaklis.png" alt=""/>
    </div>
    <div class="timelineSpeakersInfo">
      <h1>Dimitrios Dalaklis &nbsp; &nbsp;</h1>
      <h2>Living the other side of life</h2>
      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#DimitriosDalaklis">
        Information
      </button>
    </div>
  </li>
  <li class='event' href="#">
    <div class="timelineSpeakersImageRight">
      <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/panayiotis-vlamos.png" alt=""/>
    </div>
    <div class="timelineSpeakersInfoRight">
      <h1>Panagiotis Vlamos</h1>
      <h2>How Maths can affect our lives</h2>
      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#PanayiotisVlamos">
        Information
      </button>
    </div>
  </li>
  <li class="event">
    <div class="timelineSpeakersImage">
      <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/kristina-tremonti.png" alt=""/>
    </div>
    <div class="timelineSpeakersInfo">
      <h1>Kristina Tremonti</h1>
      <h2>The universe that i create</h2>
      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#KristinaTremonti">
        Information
      </button>
    </div>
  </li>
  <li class='event' href="#">
    <div class="timelineSpeakersImageRight">
      <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/savvas-georgiou.png" alt=""/>
    </div>
    <div class="timelineSpeakersInfoRight">
      <h1>Savvas Georgiou</h1>
      <h2>&nbsp; &nbsp; CTO - Daily Secret </h2>
      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#SavvasGeorgiou">
        Information
      </button>
    </div>
  </li>

</ul>


<!--
//
// Speaker Modals
// --------------------------------------------------
-->

<!-- Savvas Georgiou -->
<div class="modal fade" id="SavvasGeorgiou" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Savvas Georgiou</h4>
      </div>
      <div class="modal-body">

        <div class="speaker-profile-pic">
          <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/savvas-georgiou.png" alt="Savvas Georgiou at TEDx University of Piraeus"/>
        </div>

        <br>

        <div class="speaker-profile-bio">
          <p>
            Savvas received his degree in Electrical and Computer Engineering
            from National Technical University of Athens. He has been working
            the technology startup environment since 2009 when his team was
            incubated at Facebook Fund in Palo Alto, CA.  He was part of the
            success story of HealthLeap, a New York startup that was disrupting
            the doctor appointments in United States since 2010.
          </p>
          <p>
            Prior to joining Daily Secret, Savvas was the CTO of Liberis Publications
            (The Conde Nast Publisher for Greece), where he lead the development
            team. Under his leadership the media group revamped it’s digital
            presence and launched new digital properties for it’s magazine titles,
            including the sites of Vogue, Men’s Health and Glamour Magazine.
          </p>
          <p>
            At Daily Secret, he is driven by a sense of purpose: to build the
            first media product of the new world.
          </p>
        </div>

        <br>

        <div class="speaker-profile-talk">
          <iframe width="100%" height="315" src="//www.youtube.com/embed/Un0-w9fPVzw?theme=light" frameborder="0" allowfullscreen></iframe>
        </div>

        <br>

        <div class="speaker-profile-social">
          <b>Connect with Savvas</b><br>
          <a href="#" class="btn btn-primary btn-xs">Facebook</a>
          <a href="#" class="btn btn-primary btn-xs">Twitter</a>
          <a href="#" class="btn btn-primary btn-xs">Linkedin</a>
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Yiorgos Arachovitis -->
<div class="modal fade" id="YiorgosArachovitis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Yiorgos Arachovitis</h4>
      </div>
      <div class="modal-body">

        <div class="speaker-profile-pic">
          <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/yiorgos-arachovitis.png" alt="Yiorgos Arachovitis at TEDx University of Piraeus"/>
        </div>

        <br>

        <div class="speaker-profile-bio">
          <p>
            Yiorgos Arachovitis is a practicing architect graduated from
            Aristotle University of Thessaloniki, School of Architecture.
            Since 2010 he has been the Project Manager for the Development
            of the “Cultural Coast ” at the area Ietionian coast at the port
            on behalf of the Piraeus Port Authority S.A..
          </p>
          <p>
            He also runs his own
            office “Domorinthos” in Athens, which undertakes large and small
            scale architectural and urban development projects, with distinctions
            and awards in national as well as international competitions. He
            has done research on the social, political and financial context of
            the illegal building in Greece, on Neoclassical Athens’ architecture
            and on other relative topics, considering the city as a predominant
            footprint and a common ground of human society. He had been involved
            in public issues and had been elected as councilor in the Municipality
            of Athens.
          </p>
          <p>
            For a period he had also been president of the Committee
            for the Town planning and Transportation. He follows architectural
            and art events in Greece and abroad; he is interested in art and
            philosophy considering reality as a flowing potential.
          </p>
        </div>

        <br>

        <div class="speaker-profile-talk">
          <iframe width="100%" height="315" src="//www.youtube.com/embed/clpY0LFUsJg?theme=light" frameborder="0" allowfullscreen></iframe>
        </div>

        <br>

        <div class="speaker-profile-social">
          <b>Connect with Yiorgos</b><br>
          <a href="#" class="btn btn-primary btn-xs">Facebook</a>
          <a href="#" class="btn btn-primary btn-xs">Twitter</a>
          <a href="#" class="btn btn-primary btn-xs">Linkedin</a>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Kristina Tremonti -->
<div class="modal fade" id="KristinaTremonti" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Kristina Tremonti</h4>
      </div>
      <div class="modal-body">

        <div class="speaker-profile-pic">
          <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/kristina-tremonti.png" alt="Kristina Tremonti at TEDx University of Piraeus"/>
        </div>

        <br>

        <div class="speaker-profile-bio">
          <p>
            She grew up and lived in Athens, Greece. She graduated Yale University,
            USA earning a Bachelor of Arts degree in Political Science. For the
            past few years she has been living in New York working for large
            governmental agencies, non-profits and corporations such as the
            U.S Department of Commerce, and the Global Marketing division at
            L’Oréal USA.
          </p>
          <p>
            Parallel to her work, her passion for social impact led
            her to teach with Sponsors for Educational Opportunity where she
            prepared motivated low-income students to get to and through America’s
            competitive universities.  Inspired by a love for her country and a
            vision of a transparent system and a sincere belief in the collective
            dynamic of the Greek people she is committed to helping work towards
            a virtuous society where trust in the public sector is restored.
          </p>
          <p>
            Confident in the powerful potential of the web to redefine active
            citizenship she created EDOSA FAKELAKI as a safe space for expression
            and dialogue, a unifying mechanism for change.
          </p>
        </div>

        <br>

        <div class="speaker-profile-talk">
          <iframe width="100%" height="315" src="//www.youtube.com/embed/lHUDr1XZK30?theme=light" frameborder="0" allowfullscreen></iframe>
        </div>

        <br>

        <div class="speaker-profile-social">
          <b>Connect with Kristina</b><br>
          <a href="#" class="btn btn-primary btn-xs">Facebook</a>
          <a href="#" class="btn btn-primary btn-xs">Twitter</a>
          <a href="#" class="btn btn-primary btn-xs">Linkedin</a>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Thomas Douzis -->
<div class="modal fade" id="ThomasDouzis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Thomas Douzis</h4>
      </div>
      <div class="modal-body">

        <div class="speaker-profile-pic">
          <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/thomas-douzis.png" alt="Thomas Douzis at TEDx University of Piraeus"/>
        </div>

        <br>

        <div class="speaker-profile-bio">
          <p>
            He was born in Thessaloniki in 1983. He studied Applied Informatics
            at the University of Macedonia majoring in online branding.
            After finishing his studies his love of branding and graphic design
            combined with the family tradition of Greek food led to the creation
            of the companies Diavlos & Ergon along with his brother George in
            2008.
          </p>
          <p>
            They are now exporting their products to European countries
            and plan to add new stores in the chain of their delis and restaurants.
            Apart from the business sector you will find that one of his favorite
            interests in sailing where he has been a Greek champion in the catamarans.
          </p>
        </div>

        <br>

        <div class="speaker-profile-talk">
          <iframe width="100%" height="315" src="//www.youtube.com/embed/JFnWRdErMCY?theme=light" frameborder="0" allowfullscreen></iframe>
        </div>

        <br>

        <div class="speaker-profile-social">
          <b>Connect with Thomas</b><br>
          <a href="#" class="btn btn-primary btn-xs">Facebook</a>
          <a href="#" class="btn btn-primary btn-xs">Twitter</a>
          <a href="#" class="btn btn-primary btn-xs">Linkedin</a>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Amalia Ghiban -->
<div class="modal fade" id="AmaliaGhiban" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Amalia Ghiban</h4>
      </div>
      <div class="modal-body">

        <div class="speaker-profile-pic">
          <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/amalia-ghiban.png" alt="Amalia Ghiban at TEDx University of Piraeus"/>
        </div>

        <br>

        <div class="speaker-profile-bio">
          <p>
            She considers herself a global citizen. Born and raised on the shores
            of the Danube in Romania and hosted by the power of the Atlantic in
            Portugal, for the last 5 years. She has tried most of the areas that
            her economic background recommended her for, like: banking, project
            management, marketing and finance, but her passion for people was not
            being expressed in any of them.
          </p>
          <p>
            Coaching came to give a name to what
            she was already doing but without knowing it, and it freed her from
            the system, where she was not fitting. Since she took this path, she
            is constantly designing her life and herself along with it. She is
            the expression of her passion for people and uses it as a catalyser,
            making this world a better place with each step she takes.
          </p>
        </div>

        <br>

        <div class="speaker-profile-talk">
          <iframe width="100%" height="315" src="//www.youtube.com/embed/lvqHcOtlfS8?theme=light" frameborder="0" allowfullscreen></iframe>
        </div>

        <br>

        <div class="speaker-profile-social">
          <b>Connect with Amalia</b><br>
          <a href="#" class="btn btn-primary btn-xs">Facebook</a>
          <a href="#" class="btn btn-primary btn-xs">Twitter</a>
          <a href="#" class="btn btn-primary btn-xs">Linkedin</a>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Thomas J. Pagonis -->
<div class="modal fade" id="ThomasPagonis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Thomas J. Pagonis</h4>
      </div>
      <div class="modal-body">

        <div class="speaker-profile-pic">
          <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/thomas-pagonis.png" alt="Thomas Pagonis at TEDx University of Piraeus"/>
        </div>

        <br>

        <div class="speaker-profile-bio">
          <p>
            Born in the early sixties in Pireas, he loathes spelling Pireas as
            "Piraeus".  After brief studies of the "maritime business" in London,
            he employed himself as shipbroker, shipmanager and occasionally as
            shipowner.  Being an elected member of the BOD of  the Hellenic
            Shipbrokers Association (HSA) since 1992, he went deeply into its
            "Education Committee" by teaching the "art of chartering" since 1995.
          </p>
          <p>
            He is the author of the book "the Chartering Practice Manual"
            (ex Chartering Practice Handbook), which is officially recommended for
            the seminars of HSA.  His hobbies are (but not limited to) sailing,
            theatre and literature.  Few of the short stories that he wrote during
            his limited spare time, were published but did not turn him into a
            "story teller" celebrity. Nevertheless, by the spring of 2010, his satiric
            drama "Tomorrow again" was put on act in the "Alma" theater of Athens.
          </p>
        </div>

        <br>

        <div class="speaker-profile-talk">
          <iframe width="100%" height="300px" src="//www.youtube.com/embed/nluEyh_dxuI?theme=light" frameborder="0" allowfullscreen></iframe>
        </div>

        <br>

        <div class="speaker-profile-social">
          <b>Connect with Thomas</b><br>
          <a href="#" class="btn btn-primary btn-xs">Facebook</a>
          <a href="#" class="btn btn-primary btn-xs">Twitter</a>
          <a href="#" class="btn btn-primary btn-xs">Linkedin</a>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Dimitrios Dalaklis -->
<div class="modal fade" id="DimitriosDalaklis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Dimitrios Dalaklis</h4>
      </div>
      <div class="modal-body">

        <div class="speaker-profile-pic">
          <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/dimitrios-dalaklis.png" alt="Dimitrios Dalaklis at TEDx University of Piraeus"/>
        </div>

        <br>

        <div class="speaker-profile-bio">
          <p>
            He graduated from the Hellenic Naval Academy's (HNA) and has spent a
            significant portion of his carrier onboard various vessels of the
            Hellenic Fleet. Currently, he is serving in the Hellenic Navy's
            Petty Officers Academy, as the Director of Studies. Holding a dual
            Master's Degree (ITM & DA) from the Naval Postgraduate School
            (Monterey-California-USA), his PhD research took place in the
            University of the Aegean, Department of Shipping, Trade and Transport.
          </p>
          <p>
            Since 2005, he has been lecturing in the HNA, Department of Combat
            Systems, Naval Operations, Sciences of the Sea, Navigation, Electronics
            and Communication Systems. He has co-authored the books
            "Electronic Navigation Equipment" & "Contemporary Maritime Transport
            System and the Phenomenon of Piracy"; he has also written a significant
            number of studies and articles, both in the Greek and the English
            language. Additionally, he has an extensive teaching/training activity,
            in the fields of navigation, electronics and international relations.
          </p>
        </div>

        <br>

        <div class="speaker-profile-talk">
          <iframe width="100%" height="315" src="//www.youtube.com/embed/kNJySsoumh0?theme=light" frameborder="0" allowfullscreen></iframe>
        </div>

        <br>

        <div class="speaker-profile-social">
          <b>Connect with Dimitrios</b><br>
          <a href="#" class="btn btn-primary btn-xs">Facebook</a>
          <a href="#" class="btn btn-primary btn-xs">Twitter</a>
          <a href="#" class="btn btn-primary btn-xs">Linkedin</a>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Charis Tsevis -->
<div class="modal fade" id="CharisTsevis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Charis Tsevis</h4>
      </div>
      <div class="modal-body">

        <div class="speaker-profile-pic">
          <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/charis-tsevis.png" alt="Charis Tsevis at TEDx University of Piraeus"/>
        </div>

        <br>

        <div class="speaker-profile-bio">
          <p>
            He is a talented Greek visual designer. His studies on visual
            communication brought him on the designing paths cities like Milan and
            Athens. Managing a modest firm based in Athens he serves clients
            around the globe. Simultaneously he teaches Editorial Design and Typography
            at AKTO College and often writes for design and IT publications about
            theory of design, cyber culture and computer history.
          </p>
          <p>
            His work has
            been awarded in USA from the National Portable Storage Association,
            Europe with the European Design Award and Greece with National Award
            of Graphics and Illustration to name a few. Pieces of his creation
            can be found in many books, magazines and websites around the world.
          </p>
        </div>

        <br>

        <div class="speaker-profile-talk">
          <iframe width="100%" height="315" src="//www.youtube.com/embed/aU4M9SlZUyY?theme=light" frameborder="0" allowfullscreen></iframe>
        </div>

        <br>

        <div class="speaker-profile-social">
          <b>Connect with Charis</b><br>
          <a href="#" class="btn btn-primary btn-xs">Facebook</a>
          <a href="#" class="btn btn-primary btn-xs">Twitter</a>
          <a href="#" class="btn btn-primary btn-xs">Linkedin</a>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Aggelos Mouzakitis -->
<div class="modal fade" id="AggelosMouzakitis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Aggelos Mouzakitis</h4>
      </div>
      <div class="modal-body">

        <div class="speaker-profile-pic">
          <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/aggelos-mouzakitis.png" alt="Aggelos Mouzakitis at TEDx University of Piraeus"/>
        </div>

        <br>

        <div class="speaker-profile-bio">
          <p>
            Aggelos is, among others, a student in University of Piraeus. Before
            finishing his BA studies, he has already collected important
            experience upon Marketing and Business by leading and creating Marketing
            Departments nationally and internationally. Additionally, ha has
            tried to revolutionize Greek University education by starting the
            first educational marketplace for University students, “Outstudying”,
            participated in the first Greek start up Accelerator, Metavallon with
            the project ASQOS.
          </p>
          <p>
            At the midtime, he has gained great experience in
            volunteering with AIESEC for two years and teaching high school students
            about Business and Marketing as a member of Royal Bank of Scotland’s
            CSR program in Romania. As of January 2013, he is offering his services
            as a Business Intelligence Analyst for Travelplanet24. If you make
            your way through the business thoughts and experience that surrounding
            him, you will also find a twice Greek Karate champion and a person
            that will make you laugh all night long.
          </p>
        </div>

        <br>

        <div class="speaker-profile-talk">
          <!-- Aggelos is great -->
          <iframe width="100%" height="315" src="//www.youtube.com/embed/T-jGzimjSSs?theme=light" frameborder="0" allowfullscreen></iframe>
        </div>

        <br>

        <div class="speaker-profile-social">
          <b>Connect with Aggelos</b><br>
          <a href="#" class="btn btn-primary btn-xs">Facebook</a>
          <a href="#" class="btn btn-primary btn-xs">Twitter</a>
          <a href="#" class="btn btn-primary btn-xs">Linkedin</a>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Panayiotis Vlamos -->
<div class="modal fade" id="PanayiotisVlamos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Panayiotis Vlamos</h4>
      </div>
      <div class="modal-body">

        <div class="speaker-profile-pic">
          <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/panayiotis-vlamos.png" alt="Panayiotis Vlamos at TEDx University of Piraeus"/>
        </div>

        <br>

        <div class="speaker-profile-bio">
          <p>
            Dr. Panayiotis Vlamos is Associate Professor in the Department of
            Informatics at the Ionian University. He received his Diploma in
            Mathematics from the University of Athens and his Ph.D. degree in
            Mathematics from the National Technical University of Athens, Greece.
            He has (co-) authored more than 120 papers in international journals,
            conferences and book chapters.
          </p>
          <p>
            He is director of “Bioinformatics and
            Human Electrophysiology Lab” and “Computational Modeling Lab” at the
            Department of Informatics, Ionian University. He is also (co-) author
            of more than 9 educational books and creator of several educational
            materials. He has been member or principal investigator of several
            research projects on Mathematical Modeling and Simulation.
          </p>
          <p>
            His research
            interests mainly concern mathematical modeling in Bioinformatics,
            algorithms on recent advances in Neuroinformatics, image restoration
            problems and physical- chemical engineering problems, discrete
            mathematics and mathematical modeling in Education.
          </p>
        </div>

        <br>

        <div class="speaker-profile-talk">
          <iframe width="100%" height="315" src="//www.youtube.com/embed/oiYIi4pIzgs?theme=light" frameborder="0" allowfullscreen></iframe>
        </div>

        <br>

        <div class="speaker-profile-social">
          <b>Connect with Panayiotis</b><br>
          <a href="#" class="btn btn-primary btn-xs">Facebook</a>
          <a href="#" class="btn btn-primary btn-xs">Twitter</a>
          <a href="#" class="btn btn-primary btn-xs">Linkedin</a>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

