<div class="f_team_unit center">
  <h1>Our Awesome Team</h1>
</div>

<!-- Savvas Georgiou -->
<div class="modal fade" id="SavvasGeorgiou" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Ioannis Miniadis</h4>
      </div>
      <div class="modal-body">

        <div class="speaker-profile-pic">
          <img src="https://s3.amazonaws.com/tedxunipi/static/speakers-2013/savvas-georgiou.png" alt="Savvas Georgiou at TEDx University of Piraeus"/>
        </div>

        <br>

        <div class="speaker-profile-bio">
          <p>
            Savvas received his degree in Electrical and Computer Engineering
            from National Technical University of Athens. He has been working
            the technology startup environment since 2009 when his team was
            incubated at Facebook Fund in Palo Alto, CA.  He was part of the
            success story of HealthLeap, a New York startup that was disrupting
            the doctor appointments in United States since 2010.
          </p>
          <p>
            Prior to joining Daily Secret, Savvas was the CTO of Liberis Publications
            (The Conde Nast Publisher for Greece), where he lead the development
            team. Under his leadership the media group revamped it’s digital
            presence and launched new digital properties for it’s magazine titles,
            including the sites of Vogue, Men’s Health and Glamour Magazine.
          </p>
          <p>
            At Daily Secret, he is driven by a sense of purpose: to build the
            first media product of the new world.
          </p>
        </div>

        <br>

        <div class="speaker-profile-social">
          <b>Connect with Savvas</b><br>
          <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">Linkedin</a>
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<div id="team" class="gr">

  <a class="gu g1 r3 _ta">
    <!--<span>Veronica</span>-->
  </a>

  <a class="gu g1 r3 _ta-2">
    <!--<span>Veronica</span>-->
  </a>

  <a class="gu g1 r3 _ta-3">
    <!--<span>Veronica</span>-->
  </a>

  <a class="gu g1 r3 _ta-4">
    <!--<span>Veronica</span>-->
  </a>

  <a class="gu g1 r3 _ta-5">
    <!--<span>Veronica</span>-->
  </a>

  <a class="gu g1 r3 _ta-6">
    <!--<span>Veronica</span>-->
  </a>

  <a class="gu g1 r3 _ta-7">
    <!--<span>Veronica</span>-->
  </a>

  <a class="gu g1 r3 _ta-8">
    <!--<span>Veronica</span>-->
  </a>

  <a class="gu g1 r3 _ta-9">
    <!--<span>Veronica</span>-->
  </a>

  <a class="gu g1 r3 _ta-10">
    <!--<span>Veronica</span>-->
  </a>

  <a class="gu g1 r3 _ta-11">
    <!--<span>Veronica</span>-->
  </a>

  <a class="gu g1 r3 _ta-12">
    <!--<span>Veronica</span>-->
  </a>

  <a class="gu g1 r3 _ta-13">
    <!--<span>Veronica</span>-->
  </a>

  <a class="gu g1 r3 _ta-14">
    <!--<span>Veronica</span>-->
  </a>

</div>