.submit_video {
  text-align: center;
}

.TimelineMarketingPage {
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 1080px;
  .content {
    position: relative;
  }
  .pvl {
    padding-top: 10px;
  }
  .mainHeader {
    font-size: 55px;
    letter-spacing: -1px;
    text-shadow: #fff 1px 2px;
    text-align: center;
  }
  .subHeader {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }
  .videoWrapper {
    display: block;
    margin-bottom: 70px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 762px;
  }
  .videoShadow {
    bottom: -40px;
    left: -62px;
    position: absolute;
  }
  .videoBox {
    background-color: #fff;
    border: 1px solid #bbb;
    display: block;
    position: relative;
  }
  .img {
    vertical-align: bottom;
  }
  .videoBlackout {
    background-color: #000;
    height: 405px;
    width: 720px;
  }
  .videoLink, .TimelineMarketingPage .videoPlaceholder {
    -webkit-transition: opacity .5s;
  }
  .videoLink, .TimelineMarketingPage .marketingVideo {
    left: 20px;
    position: absolute;
    top: 20px;
  }
  .videoPlaceholder {
    -webkit-transition: opacity .5s;
  }
  .watchVideoText {
    color: #fff;
    font-size: 36px;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 100px;
    width: 720px;
  }
  .videoPlayButton {
    left: 314px;
    position: absolute;
    top: 170px;
  }
}


._3ma {
  text-rendering: optimizelegibility;
  font-weight: bold;
}

._mf {
  font-weight: normal;
}
._6u {
  color: #999;
}
._6o {
  font-size: 19px;
  line-height: 126%;
}
._3m9 {
  font-weight: normal !important;
  text-rendering: optimizelegibility;
}

i.img {
  -ms-high-contrast-adjust: none;
  _overflow: hidden;
}

.sx_904d68 {
  width: 886px;
  height: 70px;
  background-position: -0px -774px;
}
.sp_azv72o {
  background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y7/r/Y3vUxjKzHfc.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 14px;
}

.pal {
  padding: 20px;
}

.sx_0455aa {
  width: 92px;
  height: 62px;
  background-position: -887px -774px;
}


//Under
.spreadTheWord {
  padding-top: 20px;
}

h3._50mo {
  font-size: 44px;
  line-height: 52px;
}

.phl {
  padding-left: 20px;
  padding-right: 20px;
}

h6._50t- {
  line-height: 30px;
}

._59g {
  -webkit-box-sizing: border-box;
}
._50ms {
  -webkit-font-smoothing: antialiased;
}
.mtm {
  margin-top: 10px;
}
.inlineBlock {
  display: inline-block;
  zoom: 1;
}
._6n {
  font-size: 23px;
  line-height: 120%;
}

.submitVideoiFrame {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.speaker_marketing_slogans {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 60px;
  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal !important;
    text-rendering: optimizelegibility;
    font-size: 18px;
    line-height: 126%;
    color: #999;
  }
}